@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}

section{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section .signin{
    position: absolute;
    width: 400px;
    background: #222;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 5px;
}

section .signin .Permbajtja{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}
section .signin .Permbajtja h2{
    font-size: 2em;
    color: orangered;
    text-transform: uppercase;
}
section .signin .Permbajtja .form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
section .signin .Permbajtja .form .inputBx{
    position: relative;
    width: 100%;
}
section .signin .Permbajtja .form .inputBx input{
    position: relative;
    width: 100%;
    background: #333;
    border: none;
    outline: none;
    padding: 25px 10px 7.5px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    font-size: 1em;
}
section .signin .Permbajtja .form .inputBx i{
    position: absolute;
    left: 0;
    padding: 15px 10px;
    font-style: normal;
    color: #aaa;
    transition: 0.5s;
    pointer-events: none;
}
section .signin .Permbajtja .form .inputBx input :focus ~i{
    transform: translateY(-7.5px);
}


