@import 'nav.css';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	height: 100vh;
	font-family: "Raleway", sans-serif;
	background: #ffffff;
}

.container{
	margin: 10px;
}

.row{
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.image{
    border: 1px solid black;
      background: #3775c7;
      position: relative;
      flex: 1;
      max-width: 560px;
      height: 400px;
      margin: 20px;
      overflow: hidden;
  }
  
  .image img{
      opacity: 0.8;
      position: relative;
      vertical-align: top;
      transition: 0.6s;
      transition-property: opacity;
  }
  
  .image:hover img{
      opacity: 1;
  }