*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}
.navbar{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: whitesmoke;
    z-index: 9;
}
.nav{
    padding: 10px 10vw;
    display: flex;
    justify-content: space-between;
}
.brand-logo{
    height: 60px;
}
.nav-items{
    display:flex;
    align-items: center;
}
.search{
    width: 500px;
    display: flex;
}